@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


*{
  margin: 0;
  padding: 0;
}

.App {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #C6B599;
  font-style: 'Poppins',sans-serif;
}

.head{
  width: 100%;
  height: 80px;
  background-color: #0B1F32;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head h1{
  font-size: 20px;
  font-weight: 700;
  color: #CACACA;
}

.landing-museum{
  width: 100%;
  height: auto;
}

.landing-museum img{
  width: 100%;
  height: auto;
}

.introducction{
  width: 100%;
  height: 120vw;
  background-color: #C6B599;
  color: #F5F5F5;
}

.introducction h2{
  padding: 1em;
  text-align: center;
  text-shadow: -2px 5px 11px rgba(0,0,0,0.40);
}

.introducction p{
  padding: 1em;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: left;
  text-shadow: -2px 5px 11px rgba(0,0,0,0.40);
}

.target-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em 0 3em 0;
  gap: 3em;
}

.send_btn{
  color: #525252;
  padding: 1em;
  background-color: #E6E1D5;
  border-radius: 20px;
  border: none;
  box-shadow: -9px 10px 50px -5px rgba(0,0,0,0.48);
}